svg.d4 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
.d4 .tick text {
    font-size: 14px;
    fill: rgba(44, 105, 138, 1.0);
    shape-rendering: crispEdges;
}

.d4 .axis .domain, .d4 .axis .tick line {
    fill: none;
    stroke: rgba(44, 105, 138, 1.0);
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.d4 .line, .d4 path, .d4 .connectors line {
    fill: none;
    stroke: rgba(44, 105, 138, 1.0);
    stroke-width: 1px;
}


#waterfall  .d4 .bar.negative.fill {
    fill: rgba(43, 154, 94, 1.0);
}
#waterfall .d4 .bar.positive.fill {
    fill: rgba(217, 146, 61, 1.0);
}
#waterfall .d4 .bar.subtotal.fill {
    fill: rgba(44, 105, 138, 1.0);
}
