
#effHrWageResult {
    padding: 20px 0;
}

#execSummary {
    padding: 40px 0;
}

#intro {
    background: url("../images/helpingHand.svg") no-repeat fixed;
    height: 1024px;
    width: 100%
}

#wrapper {
    color: rgba(44, 105, 138, 1.0);
    max-width: 960px;
}


/* styles for Waterfall Chart */
.bar.total rect {
    fill: rgba(44, 105, 138, 1.0);
}

.bar.positive rect {
    fill: rgba(217, 146, 61, 1.0);
}
.bar.negative rect {
    fill: rgba(43, 154, 94, 1.0);
}

.bar line.connector {
    stroke: rgba(44, 105, 138, 1.0);
    stroke-dasharray: 3;
}

.bar text {
    fill: rgba(44, 105, 138, 1.0);
    font: 12px 'open sans';
    text-anchor: middle;
}

.axis text {
    color: rgba(44, 105, 138, 1.0);
    font: 14px 'open sans';
}

.axis path,
.axis line {
    fill: rgba(44, 105, 138, 1.0);
    stroke: rgba(69, 127, 158, 1.0);
    shape-rendering: crispEdges;
}

/* styles for Bar Chart with Negative Values */

.bar.positive {
    fill: rgba(43, 154, 94, 1.0);
}

.bar.negative {
    fill: rgba(217, 146, 61, 1.0);
}

.axis text {
    color: rgba(44, 105, 138, 1.0);
    font: 14px 'open sans';
}

.axis path,
.axis line {
    fill: none;
    stroke: rgba(44, 105, 138, 1.0);
    shape-rendering: crispEdges;
}
