a:link {
    color: rgba(69, 127, 158, 1.0);
    font-weight: bold;

}

a:visited {

}

a:hover, a:active {
    color: rgba(44, 105, 138, 1.0);
    text-decoration: none;

}

address {
    font-size: larger;
}

body {
    background-color: rgba(206, 229, 242, 0.25);
    margin: 0 auto;
    max-width: 960px;
}

dl.dl-horizontal dt {
    width: 15%;
}

dl.dl-horizontal dd {
    margin: 0 0 0 20%;
    width: 80%;
}

h2 {
    font-size: 180%;
    padding: 1vh 0;
}

h3 {
    font-size: 160%;
    padding: 1vh 0;
}

h4 {
    font-size: 130%;
    padding: 2vh 0;
}

hr {
    height: 10px;
    border-width: 0;
    box-shadow: 0 10px 10px -10px #2C698A inset;
}

li {
    font-size: larger;
    padding: 0 0 1vh 0;
}

nav li {
    padding: 0;
}

p {
    font-size: larger;
}

#costsBenefits {

}

#costsBenefits p {
    font-size: 150%;
    font-variant: small-caps;
}

#costRecovery {


}

#coverLetter {

}

#effHrWage {

}

#effWageCalcBtn {
    background-color: rgba(154, 196, 219, 1.0);
    font-weight: bold;
}

#effHrWageAdjust {

}

#effHrWageCalc {

}

#effHrWageNew {
    color: rgba(43, 154, 94, 1.0);
}

#effHrWageResult {
    font-weight: bold;
    padding: 20px 0;
}

#effPayroll {

}

#effPayrollChart {
    font-size: 60%;
}

#eSig {
    width: 120px;
}

#eSig img {
    height: 99%;
    width: 99%;
}

#execSummary {

}

#execSummary dt, #execSummary dd {
    font-size: larger;
}

#execSummary h2 {

}

#goldMuscle {
    padding: 1vh 0 0 0;
    width: 160%;
}

#helping {
    padding-bottom: 3vh;
    padding-top: 3vh;
}

#helpOutList {
    background-color: rgba(206, 245, 224, 0.5);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid rgba(43, 153, 94, 1.0);
    color: rgba(43, 154, 94, 1.0);
    margin-bottom: 0;
    padding: 10px 15px;
}

#helpOutList dt {
    font-size: larger;
    margin-bottom: 0;
    padding: 5px 0;
}

#hrWage {

}

#ideaHead {
    width: 100%;
}

#intern {
    width: 80%;
}

#intro {
    background: url("../images/helpingHand.svg") no-repeat center fixed;
}

#lessThanLeft {
    width: 100%;
}

#lessThanRight {
    width: 100%;
}

#mainProposal {
    padding-left: 3vh;
    padding-right: 3vh;
}

#maxWOTCCredit {

}

#maxWOTCWeeks {

}

#maxWOTCYears {

}

#me {
    width: 100%;
}

#minWagePaid {

}

#minWOTCWeeks {

}

#myPlace {
    padding: 3vh 0;
}

#num2Know {

}

#oldMan {
    width: 70%;
}

#options {

}

#orMinWage {

}

#pieChart {

}

#service {

}

#serviceList {
    background-color: rgba(206, 245, 224, 0.5);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid rgba(43, 153, 94, 1.0);
    color: rgba(43, 154, 94, 1.0);
    margin-bottom: 0;
    padding: 10px 15px;
}

#serviceList dt {
    font-size: larger;
    padding: 5px 0;
}

#swot {

}

#tldr {
    color: rgba(217, 96, 61, 1.0);
    font-variant: small-caps;
    text-align: center;
}

#weeklyPayroll {
    ;
}

#wotcWagePct {

}

#wrapper {
    color: rgba(44, 105, 138, 1.0);
    padding: 0 20px 20px 20px;
}

.active {

}

.chart {

}

.container-fluid {

}


.dropdown-menu {
    background-color: rgba(206, 229, 242, 1.0);
}

.dropdown-menu .divider {
    background-color: rgba(154, 196, 219, 1.0);
}

.dropdown-menu > li > a {
    color: rgba(44, 105, 138, 1.0);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:active  {
    background-color: rgba(44, 105, 138, 1.0);
    color: rgba(206, 229, 242, 1.0);
}

.execNumKnow dd {
    font-size: larger;
    padding: 0 0 10px 0;
}

.execNumKnow dt {
    font-size: larger;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* or center */
    align-self: stretch;     /* make sure that the column is stretched */
    justify-content: space-around;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: rgba(206, 229, 242, 1.0);
    color: rgba(44, 105, 138, 1.0);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: rgba(154, 196, 219, 1.0);
    color: rgba(44, 105, 138, 1.0);
}

.navbar {
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 1),
            rgba(206, 229, 242, 0.25)
    );
 }

.navbar-default .navbar-nav > li > a {
    color: rgba(44, 105, 138, 1.0);
}

.navbar-default .navbar-nav > li > a:hover {
    color: rgba(44, 105, 138, 1.0);
}

.navPaddingBottom {
    padding-bottom: 3vh;
}

.navPaddingTop {
    padding-top: 7vh;
}

.navPaddingSWOT {
    padding-top: 10vh;
}

.paper {
    background-color: rgba(255, 255, 255, 1.0);
    padding: 10vh 7vh;
}

.red {
    color: red;
}

.rowFlexCenter {
    align-items: center;
    display: flex;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}


/* styles for Waterfall Chart */
.bar.total rect {
    fill: rgba(44, 105, 138, 1.0);
}

.bar.positive rect {
    fill: rgba(217, 146, 61, 1.0);
}
.bar.negative rect {
    fill: rgba(43, 154, 94, 1.0);
}

.bar line.connector {
    stroke: rgba(44, 105, 138, 1.0);
    stroke-dasharray: 3;
}

.bar text {
    fill: rgba(44, 105, 138, 1.0);
    font: 12px 'open sans';
    text-anchor: middle;
}

.axis text {
    color: rgba(44, 105, 138, 1.0);
    font: 14px 'open sans';
}

.axis path,
.axis line {
    fill: rgba(44, 105, 138, 1.0);
    stroke: rgba(69, 127, 158, 1.0);
    shape-rendering: crispEdges;
}

/* styles for Bar Chart with Negative Values */

.bar--positive {
    fill: rgba(43, 154, 94, 1.0);
}

.bar--negative {
    fill: rgba(217, 146, 61, 1.0);
}

.axis text {
    color: rgba(44, 105, 138, 1.0);
    font: 14px 'open sans';
}

.axis path,
.axis line {
    fill: none;
    stroke: rgba(44, 105, 138, 1.0);
    shape-rendering: crispEdges;
}


@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
